brotlipy==0.7.0
certifi==2020.12.5
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1613413910603/work
chardet @ file:///Users/runner/miniforge3/conda-bld/chardet_1610093454858/work
conda==4.9.2
conda-package-handling @ file:///Users/runner/miniforge3/conda-bld/conda-package-handling_1602876806364/work
contourpy==1.3.0
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1612993750122/work
cycler==0.12.1
fonttools==4.59.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
importlib-resources==6.5.2
kiwisolver==1.4.7
matplotlib==3.9.4
numpy==2.0.2
packaging==25.0
pillow==11.3.0
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1610094841871/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==3.2.3
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1610291460269/work
python-dateutil==2.9.0.post0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
ruamel-yaml-conda @ file:///Users/runner/miniforge3/conda-bld/ruamel_yaml_1611943386799/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
sysv-ipc==1.1.0
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1613628259277/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1611695416663/work
zipp==3.23.0
